.about-us-component {
  display: block;
  margin: 0 auto;
  width: 50rem;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
}

.about-us-section {
  background-image: linear-gradient(to right, purple, black);
  margin: 1em 2em 1em 2em;
  padding: 2em;
  font-family: var(--default-font-family);
  width: 70%;
}

.about-us-section-content {
  margin-top: 2em;
  font-size: 1rem;
  color: whitesmoke;
}

ul.about-us-item-list {
  list-style-type: none;
  margin: 1em;
  font-weight: bold;
  text-align: left;
}

img.about-us-image1,
img.about-us-image2 {
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

