.footer-component {
    background-image: linear-gradient(to right, purple, black);
    grid-row: 3;
    margin-top: 1em;
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content {
    align-self: flex-start;
}

.footer-content-copyright {
    margin: 2em;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--default-font-family);
    color: whitesmoke;
}

.social-media-links {
    margin: 2em;
    align-self: flex-end;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}


.facebook{
    background-color: var(--secondary-button-color);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    font-size: 20px;
}

.facebook:hover{
    background-color: white;
    color:purple;
}

.linkedin{
    background-color: var(--secondary-button-color);
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    font-size: 20px;
}

.linkedin:hover{
    background-color: white;
    color:purple;
}