.generatedquiz-component {
    background-color: var(--secondary-color);
    width: 50rem;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    margin: 2em;
}

.multiple-choice-container {
    text-align: left;
    margin: 2em 2em 0em 2em;
}

.generated-quiz-action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.alert-message {
    color: red;
    font-weight: bolder;
    font-size: medium;
    text-align: left;
    margin: 2em;
}
