.meetingquestquizportal-component {
    width: 40rem;
    text-align: center;
}

.token-access-portal-form {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    background-color: rgba(128,0,128,0.30);
    padding: 2em;
    border-radius: 8px;
}

input.access-token-input {
    width: 500px;
}