.header-component {
    background-image: linear-gradient(to right, purple, black);
    grid-row: 1;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.header-item {
    margin: 0.5em;
    padding: 1em;
}

.header-title {
    margin-bottom: 2em;
}

.header-title-content {
    font-family: var(--header-font-family);
    font-weight: bolder;
    font-size: 2rem;
    text-decoration: none;
    color: whitesmoke;
}

.header-main {
    order: 1;
    align-self: flex-start;
}

.header-portal {
    order: 2;
    align-self: flex-end;
}

.navbar-link-item {
    padding: 0.5em;
    margin: 0.5em;
    border: none;
    border-radius: 6px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.85rem;
    background-color: var(--secondary-color);
}

.navbar-link-item:hover {
    background-color: grey;
}

.navbar-link-item:focus {
    background-color: var(--secondary-button-color);
    color: black;
}
