.home-component {
    display: block;
    margin: 0 auto;
    width: 70rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
}

.home-section {
    background-image: linear-gradient(to right, purple, black);
    margin: 1em 2em 1em 2em;
    padding: 2em;
    font-family: var(--default-font-family);
    width: 70%;
}

.home-section-content {
    margin-top: 2em;
    font-size: 1rem;
    color: whitesmoke;
    text-align: center;
}

img.home-image1, img.home-image2, img.home-image3 {
    width: 100%;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}