.login-component {
    display: block;
    margin: 0 auto;
    width: 30rem;
}

.login-form {
    margin: 3em;
    text-align: left;
    background-color: rgba(128,0,128,0.30);
    padding: 2em;
    border-radius: 8px;
}

