.report-component{
    display: block;
    margin: 0 auto;
    width: 70rem;
}
form.report-form {
    margin: 3em;
    text-align: left;
    background-color: rgba(128,0,128,0.30);
    padding: 2em;
    border-radius: 8px;
    width:480px;
    height:550px;
}

.report-layout {
    display: flex;
    justify-content: space-between; /* Add space between the report and graph containers */

  }
  
.report-container {
  /* Adjust styling for your report container */
  flex: 1; /* Make the report container take up available space */
}

.graph-container-wrapper {
  display: flex;
  flex-direction: column;
}

.report-label {
  background: linear-gradient(to right, rgb(94, 2, 94), black);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

div.report-form-control-feedback {
  max-height: 200px; /* Adjust the height to your preference */
  resize:vertical;    
  background-color: rgba(128,0,128,0.30);
}

.sentiment-results {
  margin: 1em;
}
  
.feedback {
  text-align: left;
  margin: 1em;
  padding: 1em;
}

.graph-labels {
  font-weight: bold;
  font-size: 1em;
  color: rgb(94, 2, 94);
}