.upload-component {
    width: 50rem;
}

.browse-show-area {
    text-align: left;
}

.upload-action-buttons-area {
    margin-top: 2em;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.upload_dropZone {
    height: 300px;
    background-color: silver;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 8px;
    display: grid;
    align-items: center; 
}

label.btn.btn-upload.mb-3 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.upload-subheader {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
}

.upload-subheader-file-limit-message {
    text-align: left;
    font-size: 1rem;
}

.meeting-details-section {
    margin: 1em 2em 0.5em 2em;
}

.add-transcript-section {
    margin: 0.5em 2em 1em 2em;
}

.transcript-action-selection-area {
    margin-top: 2em;
    margin-bottom: 2em;
}



