.user-account-component {
    display: block;
    margin: 0 auto;
    width: 30rem;
}

form.user-account-form {
    margin: 3em;
    text-align: left;
    background-color: rgba(128,0,128,0.30);
    padding: 2em;
    border-radius: 8px;
}

input.user-account-form-control {
    text-align: center;
    margin: 0.50em;
}

input.form-control-plaintext {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 8px;
    margin: 0.50em;
  }

