.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
}

.content {
  grid-row: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-content-container {
  margin: 2em;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: var(--secondary-color);
}

.quiz-content {
  margin: 1em;
  text-align: left;
}