@import url("https://fonts.googleapis.com/css?family=Aclonica");
@import url("https://fonts.googleapis.com/css?family=Acme");

:root {
  --header-font-family: "Aclonica";
  --default-font-family: "Acme";

  --default-font-size: 1.25rem;
  --default-text-color: black;

  --primary-color: #F1F3FA;
  --secondary-color: rgba(155, 172, 231, 0.4);

  --primary-button-color: rgb(155, 172, 231);
  --secondary-button-color: #FFAB2D;
  --tertiary-button-color:  rgba(128,0,128,0.30);

  --table-color: rgb(116, 241, 189);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body, .header-component, .footer-component {
    max-width: 767px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    max-width: 991px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body, .header-component, .footer-component {
    max-width: 1199px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body, .header-component, .footer-component {
    max-width: 100vw;
  }
}

@viewport {
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

body {
  margin: 0 auto;
  background-color: var(--primary-color);
  font-family: var(--default-font-family);
  min-width: 400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.action-button {
  background-color: var(--secondary-button-color);
  padding: 0.5em;
  margin: 0.5em;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--default-font-family);
}

.action-button:hover {
  background-color: lightgrey;
}

/* CSS for the table */
table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: rgb(78, 4, 78);
  padding: 8px;
  text-align: left;
  font-weight: bold;
  color:white;
  /* font-family: var(--header-font-family); */
}

/* Alternate background color for even rows */
tr:nth-child(even) {
  background-color: #b1afaf;
}

td {
  padding: 8px;
  text-align: center;
}

/* Add hover effect to all table rows */
tr:hover {
  background-color: rgba(128,0,128,0.10);
  color: black;
  cursor: pointer;
}

label.component-header {
  margin-bottom: 1em;
  font-weight: bolder;
  font-size: 2em;
  color: black;
  text-decoration: none;
  font-family: var(--header-font-family);
}

.form-input-label {
  font-weight: bold;
}

.disabled-button {
  background-color: lightgrey;
  color: gray;
}
